<div class="container_12 clearfix leading">
	<section class="portlet grid_12 leading"> 
	    <header>
	        <h2>Números de Objeto</h2> 
	    </header>
	    <section>
		<h3>
			Cadastrar número de objeto
	 	</h3>

		<%= render 'form' %>

		</section>
	</section>
</div>
