<div id="activity-popover" class="popover">
    <header>
        Activity
    </header>
    <section>
        <div class="content">
            <nav>
                <ul>
                    <li class="new"><a><span class="avatar"></span>John Doe created a new project</a></li>
                    <li class="read"><a><span class="avatar"></span>John Doe created a new project</a></li>
                    <li class="read"><a><span class="avatar"></span>Jane Doe updated a project</a></li>
                    <li class="read"><a><span class="avatar"></span>John Doe uploaded a document</a></li>
                    <li class="read"><a><span class="avatar"></span>John Doe deleted a project</a></li>
                    <li class="read"><a><span class="avatar"></span>John Doe marked a project as done</a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>
<script>
$(document).ready(function() {
    $('#activity-button').popover('#activity-popover', {preventRight: true});
	$('#activity_count').html(<%= Time.now.hour %>)
});
</script>
