<div id="settings-popover" class="popover">
    <header>
        Settings
    </header>
    <section>
        <div class="content">
            <nav>
                <ul>
                    <li><a>Project Settings</a></li>
                    <li><a>Account Settings</a></li>
                </ul>
            </nav>
        </div>
    </section>
</div>
