<p>Olá <%= @resource.name %>!</p>

<p>Alguem solicitou um link para alterar a sua senha. Se foi você, isso pode ser feito pelo link abaixo:</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Se não foi você quem solicitou isso, ignore esse email.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova senha.</p>
